<nav class="navbar navbar-epand-sm bg-primary navar-dark">
  <ul class="navbar-nav" style="flex-direction: row !important;">
    <li class="nav-item" style="padding: 0 30px !important;">
      <a routerLink="employees" routerLinkActive="active" class="nav-link" style="color: white !important;">Employee List</a>
    </li>
    <li class="nav-item" style="padding: 0 30px !important;">
      <a routerLink="create-employee" routerLinkActive="active" class="nav-link" style="color: white !important;">Add Employee</a>
    </li>
  </ul>
</nav>



<h2 class="text-center">Employee Management System</h2>
<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- <footer class="footer">
  <div class="container">
    <span></span>
  </div>
</footer> -->


